ido.last
*~
*.cache
network-security.data
places
.dap-breakpoints
auto-save-list
*.elc
*.eld
elpa/
.mc-lists.el
.cache/
transient/
straight/build/
straight/repos/
straight/build-cache.el
ac-comphist.dat
eshell/
eclipse.jdt.ls/
.dap-breakpoints
workspace
.lsp-session*
.server
bookmarks
server
\#*
url/*
recentf
tramp
.extension